/* General styles */ 
.colorPickerDiv {
    width: 10%;
    padding-top: 2rem;
    background-color: burlywood;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-box {
    height: 100px;
    width: 100px; 
    border: solid 1px;
    justify-content: center;
    align-items: center;
}
.carrés {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: space-around;
    background-color: white !important;
}

.row {
    cursor: grab;
    width: 50px;
    height: 50px;
    &:active {
        cursor: grabbing;
    }
}
/*main */
body {
    margin-top: 10px;
    min-height: 100vh;
    min-width: 100vw; 
    margin: 0;
    display: flex;
    position: relative; 

}
h1 {
    display: flex;
    justify-content: center;
}
#carre {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid purple 10px;
    padding: 0;
    margin: 0;
}
